body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    background-color: rgba(0, 0, 0, 0.60);
    height: 120px;
}

.navbar-links {
    display: inline-block;
}

.navbar-item {
    height: 120px;
    display: inline-block;
}

.navbar-item:hover {
    border-bottom: 2px solid #18cfab;
}
.navbar-item.active {
    border-bottom: 2px solid #18cfab;
}

.logo {
font-size: 15px;
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 0;
    width: 150px;
    height: 70px;
    text-align: left;
}

.logo::before {
    content: 'H';
    background: url(../img/logo.png) no-repeat;
    font-size: 40px;
    /* width: 66px; */
    /* height: 76px; */
    font-family: 'Montserrat-bold', sans-serif;
    color: white;
    padding: 12px 14px;
    position: relative;
    top: 10px;
    font-weight: 700;
}

.green-text {
    color: #18cfab;
}

.bold {
    font-weight: 700;
}

.menu-link {
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    margin: 52px 15px;
    display: block;
}

.fa-search {
    color: #b8b8b8;
}

.header {
    background: url(../img/sections-background/section-jumb.jpg) fixed no-repeat;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 1012px;
    text-align: center;
}



.header-title {
    margin-top: 125px;
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.slogan {
    display: block;
    margin-top: 35px;

}

.large-text {
    font-size: 69px;
}

.header-subtitle {
    font-size: 30px;
    color: #D4D4D4;
    margin-top: 28px;
}

.button {
    margin: 0 7px;
    width: 165px;
    height: 60px;
    border: 3px solid transparent;
    border-radius: 5px;
    border-top-color: white;
    text-transform: uppercase;
    color: white;
}

.button-green {
    background-color: #18cfab;
}

.button-blue {
    background-color: #00CBF6;
}





.advantage-item-text {
       text-transform: uppercase;
    margin-top: 36px;
}

.blue-block {
    background-color: #1C2A33;
}

.green-block {
    background-color: #18CFAB;
}



.blue-block.advantage-item-text {
    font-weight: 700;
}

.item-white-text {
    margin-top: 44px;
    color: white;
}

/*Our services block*/
.our-services {
    text-align: center;

}

.title {
    font-size: 36px;
    color: #4E4E4E;
    margin-top: 120px;
    display: inline-block;
    text-align: center;
}

.title::after {
    content: '';
    display: inline-block;
    width: 77px;
    border: 2px solid transparent;
    border-top-color: #18CFAB;
    position: relative;
    top: 56px;
    bottom: 0px;
    right: calc(50% - 20px);
}

.title::before {
    content: '';
    display: inline-block;
    width: 77px;
    border: 2px solid transparent;
    border-top-color: #18CFAB;
    position: relative;
    top: 60px;
    bottom: 0px;
    left: calc(50% - 40px);
}
}

/*Tabs*/

.serices-tabs {
    margin-top: 120px;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
}

.tabs-item {
    background-color: #F8FCFE;
    width: 192px;
    border: 1px solid #EBEBEB;
    height: 73px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
    font-size: 16px;
    text-decoration: none;
}

.tabs-item.active {
    background-color: #18CFAB;
    color: white;
}

.tabs-item.active::after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-color: #18CFAB;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
}




.tabs-content {
    margin-top: 20px;
    display: none;
}

.tabs-content.active {
    display: block;
}


.tabs-content-image {
    float: left;
    width: 194px;
    margin-right: 15px;
}

.tabs-text {
    color: #777777;
    text-align: left;
    margin: 15px;
}

.purchase {
    background: linear-gradient(rgba(0, 0, 0, 0.78),
            rgba(0, 0, 0, 0.78)),
        url(../img/purchase.png) center;
    width: 100%;
    min-height: 476px;
    text-align: center;
}


.purchase-title {
    padding-top: 128px;
    font-size: 39px;
    font-weight: 700;
    text-transform: uppercase;
}

.purchase-subtitle {
    margin-top: 30px;
    font-size: 16px;
    color: white;
}

/*Tabs Gallery*/
gallery-tabs .title {
    text-align: center;
}

.gallery-tabs-nav {
    display: flex;
    justify-content: center;
}

.gallery-tabs-link {
    margin-top: 100px;
    background-color: #F8FCFE;
    width: 192px;
    border: 1px solid #EBEBEB;
    height: 73px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
    font-size: 16px;
    text-decoration: none;
}

.gallery-tabs-link.active {
    border: 2px solid #EBEBEB;
    border-top-color: #18cfab;
}

.gallery-tabs {
    background-color: #f8fcfe;
    text-align: center;
}

.gallery-tabs-image {
    display: inline-block;
}

.gallery-tabs-details {
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0px;
    bottom: -3px;
    left: 0px;
    right: 0px;
    background-color: white;
}

.green-icon {
    color: #18cfab;
    padding: 10px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-top: 40px;
}

.green-icon:hover {
    color: white;
    background-color: #18cfab;

}

.tabs-item-title {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.tabs-item-subtitle {
    margin-top: 15px;
    font-size: 20px;
    color: rgb(138, 138, 138);
}

.gallery-tabs-item {
    box-sizing: border-box;
    position: relative;
        height: 206px;
}

.gallery-tabs-item:hover {
    border-top: 2px solid;
    border-top-color: #18cfab;
}

.gallery-tabs-item:hover .gallery-tabs-details {
    opacity: 1;
}

.gallery-tabs-wrapper {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.center-text {
    text-align: center;
}

.button-load-more {
    border: none;
    margin: 100px 10px 183px;
    width: 165px;
    height: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}

i.fas.fa-plus {
    margin-right: 10px;
}

.hide {
    display: none;
}

/*Blog*/

.blog {
    text-align: center;
    border-top: 2px solid #e1e1e1;
    margin-bottom: 100px;
}

.blog-wrapper {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-item-date {
    position: absolute;
    top: 0;
    right: -1px;
    width: 65px;
    height: 65px;
    background-color: #203e38;
    text-align: center;
    color: white;
}

.blog-item {
    position: relative;
    max-width: 262px;
    margin-top: 30px;
}

.blog-item:hover .blog-item-title {
    color: #18cfab;
}

.blog-item:hover .blog-item-date {
    background-color: #18cfab;
    color: white;
}

.date-number {
    margin-top: 15px;
}

.month {
    margin-top: 10px;
}

.blog-item-title {
    font-size: 18px;
    color: #717171;
    font-weight: 700;
    margin-bottom: 15px;
}

.blog-item-author {
    color: rgb(119, 119, 119);
}

.item-comments {
    color: rgb(119, 119, 119);
}

.item-comments::before {
    content: '|';
    display: inline-block;
    margin-right: 10px;
}

.blog-item-info {
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;

}

/*Testimonials Section*/
.testiomonials {
    background: url(../img/sections-background/section-3.jpg) no-repeat center;
    width: 100%;
    text-align: center;

}

.text-white {
    color: white;
}

.testimonial-item {
    margin-top: 180px;
    font-size: 16px;
    color: rgb(187, 187, 187);
    line-height: 1.875;
    display: none;
}

.testimonial-item.active-text {
    display: block;
}

.author-text::before {
    content: '';
    background: url(../img/quote.png) no-repeat;
    position: relative;
    height: 30px;
    width: 44px;
    top: -50px;
    left: 48%;
    display: block;

}



.author-img {
    border: 2px solid #38d0b3;
    border-radius: 50%;
    margin: 9px 0px;
    height: 150px;
    width: 150px;
}

.testiomnial-author-wrapper {
    background-color: rgba(24, 207, 171, 0.4);
    border-radius: 50%;
    width: 172px;
    height: 172px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.testimonial-authors-paggination {
    display: block;
}

.arrow {
    height: 15px;
    padding: 10px;
    margin: 0 10px;
    border: 2px solid white;
    color: white;
}

.arrow:hover {
    border: 2px solid #18cfab;
    background-color: #18cfab;
    color: white;
}

.testimonial-author {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 2px solid #18cfab;
}

.testiomnial-author-wrapper-small {
    background-color: rgba(24, 207, 171, 0.4);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
}

.small-img-author {
    position: relative;
    height: 60px;
    width: 60px;
    border: 2px solid rgba(24, 207, 171, 0.3);;
    border-radius: 50%;
    top: 3px;
    left: 3px;

}



.klara {
    background: url(../img/klara.png) no-repeat center;
}

.testimonial-author-wrapper-small {
    background-color: rgba(24, 207, 171, 0.4);
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    margin: 50px 20px;
}

.testimonial-author-wrapper-small.active-photo {
    margin-top: 20px;
}

.ahmed {
    background: url(../img/ahmed.png) no-repeat center;
}

.sveta {
    background: url(../img/sveta.png) no-repeat center;
}

.jon {
    background: url(../img/johny.png)no-repeat center;
}

.testimonial-autors-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.testimonial-author-name {
  font-size: 16px;
  color: rgb(24, 207, 171);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.688;
  text-align: center;
    margin-top: 40px;
}

.best-images {
    margin-top: 60px;

    text-align: center;
}

.gallery-best-item {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
}

.gallery-best-item-details {
    position: absolute;
/*    opacity: 0;*/
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.4);
}

.blue-icon {
    color: white;
    background-color: aqua;
    padding: 10px;
    margin-top: calc(50% - 5px);
}

.gallery-best-image-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.grid {
  background: #EEE;
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  margin:10px;
  width: 30%;
  height: 250px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.grid-item--height2 { height: 350px; }

.grid-item--height3 { height: 450px; }
.footer {
    text-align: center;
    display: block;
    background-color: #22353f;
}

.footer-text {
    padding-top:  40px;
    padding-bottom: 40px;
    color: #aeaeae;
}

.services-tabs {
    margin-top: 100px;
}

.header-buttons-wrpper {
        margin: 106px 10px 183px;
}



.advantage-item {
    width: 25%;
    height: 370px;
    border-top: 5px solid #18CFAB;
    text-align: center;
}

.advantage-item.green-block {
    border-top: 5px solid white;
}

.advantage-wrap {
        margin: 71px 0px;
}

.advantages {
    display: flex;
}

.advantage-item-image.img-white {
    margin-top: 9px;
    
}

.tabs-wrapper {
         margin-bottom: 70px;
    min-height: 235px;
}

.button-purchase {
    margin-top: 40px;
    margin-bottom: 60px;
}
